/* line 1, ../sass/calendar_training.scss */
select:active, select:focus, select:visited {
  outline: none;
}

/* line 2, ../sass/calendar_training.scss */
a:active, a:focus {
  outline: none;
}

/* line 3, ../sass/calendar_training.scss */
option:active, option:focus option:visited {
  outline: none;
}

/* line 4, ../sass/calendar_training.scss */
a {
  text-decoration: none;
}

/* line 7, ../sass/calendar_training.scss */
body {
  width: 100%;
}

/* line 10, ../sass/calendar_training.scss */


/*---content--------------------------*/
/* line 295, ../sass/calendar_training.scss */
.container {
  width: 100%;
}

/* line 298, ../sass/calendar_training.scss */
.training_calendar {
  margin: 31px 0 0 0.4745763%;
  width: 99.4%;
}

/* line 302, ../sass/calendar_training.scss */
.calendar {
  
  display: block;
  color: black;
  font-family: "Segoe UI";
  font-size: 1.5em;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0 0 38px 6.3921606%;
}

/* line 313, ../sass/calendar_training.scss */
.gallery {
  display: block;
  width: 297px;
  margin: auto;
}

/* line 318, ../sass/calendar_training.scss */
.viev {
  width: 100%;
  height: auto;
  margin: 0 0 9px 0;
}

/* line 323, ../sass/calendar_training.scss */
.img_viev {
  width: 100%;
  height: 100%;
}

/* line 327, ../sass/calendar_training.scss */
.day_training {
  width: 180px;
  height: 1em;
  color: #fe9900;
  font-family: "Segoe UI";
  font-size: 1.125em;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 9px 0;
}

/* line 337, ../sass/calendar_training.scss */
.name_training {
  width: 187px;
  color: black;
  font-family: "Segoe UI";
  font-size: 1.125em;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

/*----------share-----------------------*/
/* line 353, ../sass/calendar_training.scss */
.block_share {
  width: 146px;
  margin: 49px 27px 19px 9.15254237288136%;
  height: 27px;
  display: inline-block;
}

/* line 359, ../sass/calendar_training.scss */
.share {
  text-align: center;
  display: inline-block;
  width: 66px;
  height: 12px;
  color: #858585;
  font-family: "Segoe UI";
  font-size: 0.75em;
  font-weight: 400;
  line-height: 24px;
}

/* line 370, ../sass/calendar_training.scss */
.share_fb {
  display: inline-block;
  opacity: 0.7;
  margin: 0 0 0 7px;
}

/* line 377, ../sass/calendar_training.scss */
.share_vk {
  display: inline-block;
  border-style: none;
  opacity: 0.7;
}

/* line 382, ../sass/calendar_training.scss */
.share_fb:hover {
  opacity: 1;
}

/* line 385, ../sass/calendar_training.scss */
.share_vk:hover {
  opacity: 1;
}

/* line 395, ../sass/calendar_training.scss */



@media (min-width: 400px) {
  /* line 533, ../sass/calendar_training.scss */
  .gallery {
    display: inline-block;
    width: 191px;
    margin: 39px 0 0 1.3%;
  }

  /* line 538, ../sass/calendar_training.scss */
  .calendar {
    margin: 0 0 0 6.3921606%;
  }

  /* line 541, ../sass/calendar_training.scss */
  .img_viev {
    width: 191px;
    height: 145px;
  }
}

@media (min-width: 900px) {
  /* line 578, ../sass/calendar_training.scss */
 
  /* line 584, ../sass/calendar_training.scss */
  .gallery {
    margin: 39px 0 0 3.3%;
  }
}
@media (min-width: 1169px) {
  /* line 589, ../sass/calendar_training.scss */
  .training_calendar {
    width: 88.4%;
  }
}
@media (min-width: 1180px) {
  /* line 599, ../sass/calendar_training.scss */
  body {
    width: 1180px;
    margin: auto;
  }

  /* line 603, ../sass/calendar_training.scss */
 
  /* line 666, ../sass/calendar_training.scss */
  
  /* line 718, ../sass/calendar_training.scss */
  .visit_style {
    color: white;
  }

  /* line 721, ../sass/calendar_training.scss */
  
  /*---content___*/
  /* line 731, ../sass/calendar_training.scss */
  .training_calendar {
    margin: 31px 0 0 3.4745763%;
    width: 88.6440678%;
  }

  /* line 735, ../sass/calendar_training.scss */
  .gallery {
    display: inline-block;
    width: 191px;
    margin: 38px 0 0 6.3921606%;
  }

  /* line 740, ../sass/calendar_training.scss */
  .viev {
    width: 191px;
  }

  /* line 744, ../sass/calendar_training.scss */
  .share_vk, .share_fb {
    width: 20px;
    height: 20px;
  }

  /* line 752, ../sass/calendar_training.scss */
  .footer_contacts {
    margin: 16px 26px 0 32.271186%;
  }
}
