/* line 1, ../sass/media.scss */
select:active, select:focus, select:visited {
  outline: none;
}

/* line 2, ../sass/media.scss */
a:active, a:focus {
  outline: none;
}

/* line 3, ../sass/media.scss */
option:active, option:focus option:visited {
  outline: none;
}

/* line 4, ../sass/media.scss */
a {
  text-decoration: none;
}

/* line 7, ../sass/media.scss */
body {
  width: 100%;
}


/*---content--------------------------*/
/* line 272, ../sass/media.scss */
.calendar {
  //display: inline-block;
  margin: 39px 3px 9px 0;
  width: 97.898%;
    height: 15px;
}

/* line 277, ../sass/media.scss */
.media {
  font-size: 1.5em;
  font-family: "Segoe UI";
  color: black;
  text-transform: uppercase;
  line-height: 0.987;
  text-align: left;
  -moz-transform: scale(0.99, 1);
  -webkit-transform: scale(0.99, 1);
  -ms-transform: scale(0.99, 1);
  margin: 35px 0 27px 0;
  display: inline-block;
}

/* line 290, ../sass/media.scss */
select {
  border-style: none;
  margin: 0 0 0 1.71864406779661%;
  width: 59px;
  background: white;
  float:right;
}

/* line 296, ../sass/media.scss */
option {
  display: inline-block;
}

/*_________________gall____________*/
/* line 304, ../sass/media.scss */
.gall {
  width: 215px;
  margin: auto;
  height: auto;
  display: block;
}

/* line 310, ../sass/media.scss */
.training_gallery {
  border-bottom: 2px solid #cccccc;
  width: 100%;
  display: inline-block;
}

/* line 315, ../sass/media.scss */
.name_mounts {
  font-size: 0.875em;
  font-family: "Open Sans";
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.007;
  text-align: center;
  -moz-transform: scale(0.97, 1);
  -webkit-transform: scale(0.97, 1);
  -ms-transform: scale(0.97, 1);
  margin: 0 0 28px 0;
  width: 82px;
}

/* line 329, ../sass/media.scss */
.block_gall {
  display: inline-block;
  margin: 0 9.47666195190948% 40px 0;
  float: left;
}

/* line 335, ../sass/media.scss */
.viev {
  width: 191px;
  margin-bottom: 20px;
  height: 145px;
  position: relative;
  cursor:pointer;
}

/* line 341, ../sass/media.scss */
.img_folder {
  background-image: url("stylesheets/media/hover_img.png");
  width: 44px;
  height: 44px;
  margin: 37px 73px 24px 74px;
}

/* line 347, ../sass/media.scss */
.hidden_text {
  width: 159px;
  height: 20px;
  color: white;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 400;
  line-height: 6px;
  margin-left: 17px;
}

/* line 356, ../sass/media.scss */
.hiden_img:hover {
  opacity: 0.59;
}

/* line 359, ../sass/media.scss */
.mounts_gall {
  width: 100%;
  height: 100%;
}

/* line 363, ../sass/media.scss */
.nul_gall {
  margin: 0 0 20px 0;
}

/* line 366, ../sass/media.scss */
.name_traning {
  width: 190px;
  font-size: 1.125em;
  font-family: "Segoe UI";
  color: black;
  text-transform: uppercase;
  line-height: 1.316;
  text-align: left;
  -moz-transform: scale(0.99, 1);
  -webkit-transform: scale(0.99, 1);
  -ms-transform: scale(0.99, 1);
}

/* line 380, ../sass/media.scss */
.traning_corp {
  margin: 52px 0 26px 0;
  clear: both;
  width: 100%;
  display: inline-block;
}

/* line 386, ../sass/media.scss */
.corp_name {
  font-size: 1.5em;
  font-family: "Segoe UI";
  color: black;
  text-transform: uppercase;
  line-height: 0.987;
  text-align: left;
  -moz-transform: scale(0.99, 1);
  -webkit-transform: scale(0.99, 1);
  -ms-transform: scale(0.99, 1);
  margin: 35px 0 35px 0;
}

/*---------right navbar-----------------*/
/* line 399, ../sass/media.scss */
.block_gallery {
  width: 89.5762712%;
  margin: 34px 0 34px 9.1525424%;
  display: inline-block;
  position: relative;
}

/* line 406, ../sass/media.scss */
.name_gallery {
  display: block;
  width: 704px;
  color: black;
  font-family: "Segoe UI";
  font-size: 1.5em;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-transform: uppercase;
}

/* line 418, ../sass/media.scss */
.gallery {
  display: inline-block;
  width: 707px;
  margin-top: 35px;
}

/* line 423, ../sass/media.scss */
.img_gallery {
  display: inline-block;
  width: 191px;
  height: 145px;
  margin: 0 63px 60px 0;
  position: relative;
}

/* line 432, ../sass/media.scss */
.hiden_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #636466;
  opacity: 0;
}

/* line 440, ../sass/media.scss */
.img_folder {
  background-image: url("gall_img/full_scren.png");
  width: 44px;
  height: 44px;
  margin: 37px 73px 24px 74px;
}

/* line 447, ../sass/media.scss */


/* line 457, ../sass/media.scss */
.hiden_img:hover {
  opacity: 0.59;
}

/* line 460, ../sass/media.scss */
.last_gallery {
  display: inline-block;
  width: 191px;
  height: 145px;
  margin: 0 0 60px 0;
  float: right;
  position: relative;
}

/* line 468, ../sass/media.scss */
.training_img {
  width: 100%;
  height: 100%;
  display: inline-block;
}

/*----------share-----------------------*/
/* line 478, ../sass/media.scss */
.block_share {
  width: 148px;
  margin: 0 27px 19px 9.15254237288136%;
  height: 22px;
  display: inline-block;
}

/* line 484, ../sass/media.scss */
.share {
  text-align: center;
  display: inline-block;
  width: 66px;
  height: 19px;
  color: #858585;
  font-family: "Segoe UI";
  font-size: 0.75em;
  font-weight: 400;
  line-height: 24px;
}
.share_fb, .share_vk{
  margin-left: 6px;
}

/* line 495, ../sass/media.scss */
.foter_fb {
  display: inline-block;
  background-image: url("img/facebok.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  margin-right: 15px;
  background-size: 100%;
  opacity: 0.7;
}

/* line 505, ../sass/media.scss */
.foter_vk {
  display: inline-block;
  background-image: url("img/vk.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  margin-right: 16px;
  background-size: 100%;
  opacity: 0.7;
}

/* line 515, ../sass/media.scss */
.foter_inst {
  display: none;
  background-image: url("img/instagram.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  margin-right: 15px;
  opacity: 0.7;
}

/* line 524, ../sass/media.scss */
.foter_youtube {
  display: inline-block;
  background-image: url("img/youtube.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  background-size: 100%;
  opacity: 0.7;
}

/* line 534, ../sass/media.scss */
.foter_fb:hover {
  opacity: 1;
}

/* line 537, ../sass/media.scss */
.foter_inst:hover {
  opacity: 1;
}

/* line 540, ../sass/media.scss */
.foter_youtube:hover {
  opacity: 1;
}

/* line 543, ../sass/media.scss */
.foter_vk:hover {
  opacity: 1;
}

/*--------------------blog________________*/
/* line 549, ../sass/media.scss */
.new_training {
  display: block;
  margin: 0 auto;
  width:276px;
}
.anh_new_training {
  background-color: #fe9900;
  width: 204px;
  height: 51px;
  color: #fefefe;
  font-family: "Segoe UI";
  font-size: 17px;
  font-weight: 400;
  line-height: 52px;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 10px 31px 11px 31px;
  display: block;
  text-align: center;
}

/* line 337, ../sass/ocsps.scss */
.list_new_training {
  width: 242px;
  border: 1px solid #ccc;
  padding: 13px 15px 15px 7px;
  margin-bottom: 5px;
}

/* line 343, ../sass/ocsps.scss */
.time_record {
  margin-bottom: 9px;
  color: #5a5a5a;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

/* line 350, ../sass/ocsps.scss */
.head_text_training {
  color: #fe9900;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 11px;
}

/* line 357, ../sass/ocsps.scss */
.inform_traning {
  width: 199px;
  font-family: "Segoe UI";
  font-size: 18px;
}

/* line 597, ../sass/media.scss */





/*_______ gallery_______________*/

@media(min-width:448px){
  .gall{
    width:444px;

  }
  .block_gall{
    display:inline-block;
    margin: 0 3.476662% 40px 3.476662%;
    float: left;
  }
}
  @media(min-width:727px){
    .gall{
    width: 724px;
  }
}
  @media(min-width:809px){
    .gall{
margin: 0 0 0 72px;
display: inline-block;
    }
    .media{
          margin: 35px 0 27px 0;
    }
  }



@media (min-width: 1180px) {
  /* line 697, ../sass/training.scss */
  body {
    width: 1180px;
    margin: auto;
  }



  /* line 832, ../sass/training.scss */
  .visit_style {
    color: white;
  }

 
  .img_folder {
    background-image: url("gall_img/full_scren.png");
    width: 44px;
    height: 44px;
    margin: 37px 73px 24px 74px;
  }

  /* line 764, ../sass/training.scss */
 
}
@media (min-width: 600px) {
  /* line 858, ../sass/training.scss */
  .anh_new_training {
    width: 204px;
    height: 41px;
    line-height: 44px;
  }
}

/* line 865, ../sass/training.scss */

@media (min-width: 869px) {
  /* line 869, ../sass/training.scss */
  .new_training {
    /*float: right;*/
    margin: 30px auto;
  }
}
@media(min-width: 1178px){
.new_training {
  display: inline-block;
  float: right;
  margin: 69px 8.74456% 0 0;
  width:264px;
}


.anh_new_training {
  background-color: #fe9900;
  width: 159px;
  height: 35px;
  color: #fefefe;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
  line-height: 38px;
  text-transform: uppercase;
  margin-bottom: 6px;
  padding: 10px 31px 11px 31px;
  display: block;
  text-align: center;
}

/* line 569, ../sass/media.scss */
.list_new_training {
  width: 197px;
  border: 1px solid #ccc;
  padding: 13px 15px 15px 7px;
  margin-bottom: 5px;
}


.time_record {
  margin-bottom: 9px;
  color: #5a5a5a;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

.head_text_training {
  color: #fe9900;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 11px;
}
}

 @media(min-width: 880px){
.inform_traning {
  width: 201px;
  font-family: "Segoe UI";
  font-size: 12px;
}
  }














  /* line 874, ../sass/training.scss */
  .anh_new_training {
    width: 201px;
  }

  /* line 878, ../sass/training.scss */
  .list_new_training {
    width: 239px;
  }
}
@media (min-width: 1180px) {
  /* line 883, ../sass/training.scss */
  .list_new_training {
    width: 221px;
  }

  /* line 886, ../sass/training.scss */
  .time_record {
    font-size: 12px;
  }

  /* line 889, ../sass/training.scss */
  .head_text_training {
    font-size: 13px;
  }

  /* line 892, ../sass/training.scss */
  .inform_traning {
    font-size: 12px;
  }

  /* line 895, ../sass/training.scss */
  .anh_new_training {
    width: 184px;
    font-size: 12px;
    height: 35px;
    line-height: 36px;
  }
}
@media (min-width: 1180px) {
  /* line 903, ../sass/training.scss */
  .contaner {
    margin-top: 66px;
  }
}